.dashboard-link {
    border: 2px solid #ddd;
    border-radius: 1rem;
    background-color: #ffffff;
    padding: 1.2rem 0.5rem;
    transition: all 0.25s ease-in-out;
    display: block;
    text-decoration: none;
    color: #242424;
    font-size: 1.2rem;
    font-weight: 500;
    box-shadow: 0 2px 6px rgba(0, 0, 0, 0.05);
    text-align: center;
    height: 100%;
    box-shadow: 5px 5px 20px;
}

.dashboard-link:hover {
    transform: translateY(-4px) scale(1.02);
    box-shadow: 0 8px 18px rgb(255, 255, 255);
    background-color: #ededed;
    border-color: #787878;
    color: #000;
}

.dashboard-link i {
    transition: transform 0.3s, color 0.3s;
    font-size: 2rem;
}

.dashboard-link:hover i {
    transform: scale(1.15) rotate(3deg);
    color: #0d6efd;
}

.dashboard-link .small {
    font-size: 1rem;
    margin-top: 0.5rem;
    display: block;
}

/* thêm */

.chart {
    padding: 8px;
    background-color: #ffecc4;
    color: #757575;
    border-radius: 12px;
    /* box-shadow: 1px 1px 8px 1px; */
    /* margin-left: 50%; */
}
